%form{:method => "POST", :action => @scraper.path}
  %p
    %input{:type => "text", :name => "title", :placeholder => "Enter a name for the scraper", :value => @scraper.title}
  %p
    %textarea{:name => "code", :placeholder => "Code"}= @scraper.code
  %p
    %input.btn.btn-primary{:type => "Submit", :value => "Create Scraper"}
    %a.btn{:href => @scraper.cancel_path} Cancel
